version: "3"

services:
  nginx:
    image: nginx:stable-alpine
    environment:
      - TZ='Asia/Tokyo'
    volumes:
      - ./nginx/passwd:/etc/passwd:ro
      - ./nginx/conf:/etc/nginx
      - ./nginx/log:/var/log/nginx
      - ./php7/app:/php7
      - ./php8/app:/php8

    ports:
      - "80:80"
      - "443:443"
    restart: always

  homarr:
    image: "ghcr.io/ajnart/homarr:latest"
    expose:
      - "7575"
    environment:
      - TZ='Asia/Tokyo'
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    user: 1000:1000
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - ./homarr/configs:/app/data/configs
      - ./homarr/data:/data
      - ./homarr/icons:/app/public/icons
    restart: always

  php7:
    image: webdevops/php:7.4-alpine
    expose:
      - "9000"
    environment:
      - TZ='Asia/Tokyo'
    user: 1000:1000
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - ./php7/app:/php7
    restart: always

  php8:
    image: webdevops/php:8.2-alpine
    expose:
      - "9000"
    environment:
      - TZ='Asia/Tokyo'
    user: 1000:1000
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - ./php8/app:/php8
    restart: always