version: "3"

services:
  nginx:
    image: nginx:stable-alpine
    environment:
      - TZ='Asia/Tokyo'   
    volumes:
      - ./nginx/conf:/etc/nginx
      - ./nginx/log:/var/log/nginx
    ports:
      - "80:80"
      - "443:443"
    restart: always

  homarr:
    image: "ghcr.io/ajnart/homarr:latest"
    expose:
      - "7575"
    environment:
      - TZ='Asia/Tokyo'
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    volumes:
      - ./homarr/configs:/app/data/configs
      - ./homarr/data:/data
      - ./homarr/icons:/app/public/icons
    restart: always

